In [19]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np

## Os passos são o seguintes:

1- Cria a requisição do conteúdo hmtl do site.

2- Temos que nos passar por um browser para não correr o risco de barrar o scraping.

3- Extraimos com o .text e salvamos numa variavel "sopao_macarronico".

4- Jogamos no BeatifulSoup para estruturar o conteudo.

5- Criamos uma lista dos h3 que nos interessam na "lista_noticias" e dos div que nos interessam no lista_datas (passando o atributo class específico).

6- Com um laço for-zip iteramos as duas listas, nos elementos da lista_noticias pegamos o texto da tag a e jogamos na variavel "chamada" e nos elemntos da lista_datas só extraimos o texto mesmo e colocamos na variavel data_emsi, e dando apend para a lista_noticiario a cada iteração. É feito um tratamento da data_emsi para remover caracter indesejado.

7- Por fim transformamos a lista_noticiario num data frame.

In [41]:
def buscador_noticias_ambientais(url):
    cabecalho = {'user-agent': 'Mozilla/5.0'}

    resposta = requests.get(url, headers = cabecalho)
    sopao_macarronico = resposta.text
    
    sopa_bonita = BeautifulSoup(sopao_macarronico, 'html.parser')
    
    lista_noticias = sopa_bonita.find_all('h2', {'class':"h4 mb-3"})
    lista_datas = sopa_bonita.find_all('div',  {'class': 'text-muted'})
    
    lista_noticiario = []
   
    for noticia,data in zip(lista_noticias, lista_datas):
        
        chamada = noticia.find('a').text

        data_emsi = data.text
        data_emsi = data_emsi.replace('\n', '')

        lista_noticiario.append((chamada, data_emsi))

    df_noticiario = pd.DataFrame(lista_noticiario, columns=['chamada', 'data'])
    

    
    return df_noticiario

In [42]:
buscador_noticias_ambientais('https://oeco.org.br/category/noticias/')

                                             chamada                  data
0  Brasil queimou área duas vezes maior que o Mat...  26 de abril de 2023
1  Amazônia já perdeu área equivalente a duas cid...  20 de abril de 2023
2  Fóssil brasileiro preenche lacuna na história ...  20 de abril de 2023
3  Almir Sater: “Grandes lavouras estão chegando ...  20 de abril de 2023
4  Brasil “perdeu tempo” ao não ratificar Acordo ...  19 de abril de 2023
5  Ibama multa influenciador que mantinha capivar...  19 de abril de 2023
6  Ibama apreende 55 pássaros na casa de Anderson...  18 de abril de 2023
7  Cerrado perdeu área maior do que a cidade de S...  14 de abril de 2023
8  Em 2022, bancos investiram U$673 bi na explora...  13 de abril de 2023
9  Deputados de Rondônia instalam CPI para invest...  13 de abril de 2023